body {
    background-color: black;
}

#head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3em;
}

#turn{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}

#board{
    height: 318px;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.row{
    display: flex;
}

.square{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    border: 3px solid white;
    color: rgb(214, 41, 41);
}

#TL, #TM, #TR {
    border-top: none;
}

#BL, #BM, #BR{
    border-bottom: none;
}

#TL, #ML, #BL{
    border-left: none;
}

#TR, #MR, #BR{
    border-right: none;
}

#btnContainer{
    display: flex;
}
.button{
    margin-top: 30px;
    display: flex;
}

#playerButton{
    width: 115px;
    justify-content: center;
    margin-left: auto;
    margin-right: 5px;
}
#resetButton{
    width: 115px;
    justify-content: center;
    margin-right: auto;
    margin-left: 5px;
}

#modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  #modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
  }

  #form{
      display: flex;
      flex-direction: column;
  }

  #gameSetup{
      margin-left: 20px;
      margin-bottom: 10px;
      font-weight: bold;
  }

  .form-input{
      width: 300px;
      margin-bottom: 7px;
      margin-left: auto;
      margin-right: auto;
  }

  #radio-input{
    margin-left: 16px;
  }

  .computerMode{
    display: none;
  }

  #playButton{
    width: 50px;
    min-width: 50px;
    margin-left: 20px;
    margin-right: auto;
}

#signature{
    color: rgb(214, 41, 41);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}